@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'popins';
}

/* Hide scrollbars cross-browser */
body {
  overflow-x: hidden; /* hides both vertical and horizontal scrollbars */
  margin: 0;
  padding: 0;
}
